:root {
    /*Primary colors*/
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    /*Neutral colors*/
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    /* Typography */
    --ff: 'Bai Jamjuree', sans-serif;
    --fz: 1.125rem;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    line-height: 1.5;
    font-family: var(--ff);
    font-size: var(--fz);
    color: var(--grayish-blue);
}

h1, h2, h3 {
    color: var(--dark-grayish-blue);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    text-align: center;
    display: block;
}

ul {
    padding: 0;
    list-style: none;
}

@media (min-width: 375px) {
    body {
        background-image: url(images/bg-header-desktop.png);
    }
}

.container {
    padding: 5rem 2rem 3rem 2rem;
}

.hero {
    margin-bottom: 8rem;
}

.hero__content {
    text-align: center;
}

.hero__content > * {
    margin-bottom: 1rem;
}

.logo {
    margin-right: auto;
    margin-left: auto;
}

.btn {
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 1rem;
    border-radius: 28px;
    box-shadow: 1px 2px 2px 0px black;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc;
}

.btn-1 {
    background-color: var(--strong-cyan);
}

.btn-2 {
    background-color: var(--light-blue);
    margin-top: 1.5rem;
}

@media (min-width: 768px){

    .btn-2 {
        margin: 0;
    }

    .buttons-container {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .pc-image {
        margin-left: -64px;
    }

    .devices-img {
        margin: 0 auto; 
    }
}

.section {
    text-align: center;
    margin-bottom: 8rem;
}

.section__heading {
    margin-bottom: 1rem;
}

.section__paragraph {
    margin-bottom: 3rem;
}

/* section-1 */
.section__characteristics{
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .section__characteristics {
        text-align: start;
    }
}

/* section-3 */
.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 768px) {

    .section__flex {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .flex-item {
        flex: 1;
    }
}

/* section-4 */
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

@media (min-width: 768px) {
    .flex {
        flex-direction: row;
        justify-content: center;
    }
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.logo-2 {
    width: 56%;
    margin: 0 auto;
}

.footer__elements {
    text-align: center;
}

.footer__elements > li {
    margin-top: 1.5rem;
}

.footer__elements > li:hover {
    color: var(--dark-grayish-blue);
    cursor: pointer;
}

.footer__social-icons {
    display: flex;
    gap: 4rem;
}

.footer__social-icons .social-icon:hover {
    background-color: #ccc;
    cursor: pointer;
}

@media (min-width: 768px){
   .footer__elements > li {
        margin: 0;
    }

    .logo-2 {
        width: 50px;
    }

    .footer {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer__content {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .footer__elements {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}